<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Atlas Law</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'practice_areas' %}">Practice Areas</a></li>
            </ul>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
